.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    size: 18px;
    color: #e5e7eb;
}

.child1 {
    margin-left: 40%;
}
.child2 {
    margin-left: 10%;
}
.child3 {
    margin-left: 10%;
}
h1 {
padding: 5%;
margin-bottom: 0;
size: 48px;
color: #f9faf8;

}

.upper {
background-color: #1f2937;
    
}

.img-placeholder {
margin-left: 60%;
margin-top: -7%;
padding: 5%;
background-color:#e5e7eb;
color:#1f2937 ;
}

h2{
margin-left: 40%;
color: #1f2937;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    
}

.box {
width: 100px;
height: 100px;
margin-top: 5%;
border: 6px solid #3882f6;
}

.box-item {
width: 100px;

}


.bottom{
display: flex;
margin-top: 5%;
justify-content: center;
background-color: #e5e7eb;

}

.quote {
padding: 3%;

}

.final-section {
display: flex;
padding: 3%;
margin-top: 3%;
justify-content: center;
background-color: #3882f6;
}

.sign-button {
    height: 30%;
    margin-top: 4%;
    margin-left: 13%;
}

footer {
    justify-content: center;
    display: flex;
    padding: 4%;
    background-color: #1f2937;
    color: #f9faf8;
}

.text-quote {
size: 36px;
color:#1f2937;
font-style: italic;
}